In [3]:
import pandas as pd

In [4]:
df_catapult = pd.read_excel("Virtual_Catapult_DOE_Completed.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Quantum XL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Central Composite Design,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Base design: Full factorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,2 Factors in 10 Runs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,2 Center points. Alpha = 1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Number of replicates: 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USL,305,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,enter spec limits (optional) -->,LSL,295,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,A,B,NaN,edit response name (optional) -->,Distance,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Type,Block,Run,Release Angle,Cup Elevation,<-- enter factor names,NaN,Y1,Y2,Y3,Y4,Y bar,S
11,NaN,NaN,1,1,1,150,225,NaN,enter response data here -->,194,194,187,197,193,4.242640687119285
12,"<?xml version=""1.0"" encoding=""utf-16""?><DOEMet...",NaN,1,1,2,150,275,NaN,NaN,260,256,260,258,258.5,1.9148542155126762
13,NaN,NaN,1,1,3,170,225,NaN,NaN,269,266,262,264,265.25,2.9860788111948193
14,NaN,NaN,1,1,4,170,275,NaN,NaN,340,343,346,348,344.25,3.5
15,NaN,NaN,3,1,5,145,250,NaN,NaN,210,209,212,204,208.75,3.4034296427770228
16,NaN,NaN,4,1,6,175,250,NaN,NaN,325,317,324,316,320.5,4.654746681256314
17,NaN,NaN,3,1,7,160,212.5,NaN,NaN,217,211,210,216,213.5,3.5118845842842465
18,NaN,NaN,4,1,8,160,287.5,NaN,NaN,326,320,316,323,321.25,4.272001872658765
19,NaN,NaN,2,1,9,160,250,NaN,NaN,267,270,265,269,267.75,2.217355782608345
20,NaN,NaN,2,1,10,160,250,NaN,NaN,269,269,268,265,267.75,1.8929694486000912